body {
	font-family: 'Open Sans', sans-serif;
	background: #EFF6FF;
	font-size: 15px;
}

#main-content {
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

header h1{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	margin-top: 10px;
}

#menu div .input-group{
	margin-top: 10px;
}
#navigation {
	margin-top: 13px;
}

.main-blue {
	color: #3276B2;
}

.col-sm-1, .col-sm-2, .col-sm-10, .col-sm-4, .col-sm-11, .col-sm-12 {
	padding: 0;
}

.col-sm-2 {
	width: 18.333334%;
}

.panel {
	margin: 0;
	border-radius: 0px 0px 0px 0px;
}

.panel-heading {
	border-radius: 0px 0px 0px 0px;
}

.weekday .panel {
	box-shadow: none
}

.subject {
	padding: 0;
	border: none;
	cursor: pointer;
}

.subject, .subject .panel-heading {
	height: 180px;
}

.subject .panel-heading {
	padding: 5px 10px;
}

.time {
	height: 60px;
	border: 0;
	text-align: center;
	box-shadow: none;
}

.time .panel-body {
	top: -26px;
	position: relative;
	padding: 15px 0;
}

#all-subjects, #all-subjects .col-sm-15 {
	padding: 0;
}

#all-subjects {
	height: 840px;
	position: relative;
	border: 0;
	box-shadow: none;
}

#all-subjects .row {
	margin: 0;
	height: 840px;
}

.weekdaySubjects {
	height: 840px;
	border-left: 1px solid #DAE7F7;
}

#dates {
	z-index: 3;
	border-bottom: 1px solid #DAE7F7;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}

#dates .panel{
	border: none;
	box-shadow: none;
}

#dates .panel .panel-heading{
	text-align: center;
	border: none;
}

#dates .active div div{
	color: #498CFF;
}

#navigation {
	position: absolute;
	right: 50px;
}

#navigation .btn-group .btn-group:nth-child(2) button {
	cursor: default;
	opacity: 1;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
	border-left: none;
	border-right: none;
	padding: 5px 0;
	text-align: center;
}

#search-box {
	border: 1px solid rgb(52, 122, 236);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}

#search-btn {
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
	background-image: linear-gradient(to bottom, rgb(94, 153, 255) 0px, rgb(52, 122, 236) 100%);
	border-color: rgb(52, 122, 236);
}

#search-btn:hover, #search-btn:focus {
	background: #2e6dd4;
}
.time-separator {
	height: 60px;
	width: 100%;
	position: absolute;
	border-bottom: 1px #DAE7F7 dotted;
}

#week-counter button{
	background: none;
	padding: 5px 12px;
}

.cal-data {
	position: absolute;
	background: #E4ECFF;
	border-left: 3px solid #4B81EB;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	cursor: pointer;
	border-radius: 4px 0 0 4px;
}

.cal-data:hover {
	background-image: linear-gradient(to bottom, rgba(225,237,249,1) 0px, rgba(193,223,255,1) 100%);
}

.cal-data h4 {
	font-size: 14px;
	margin: 0;
	line-height: 1.3em;
	overflow: hidden;
}

.cal-data .small-cal-event {
	font-size: 12px;
}

.loadinggif {
	border:10px;
  background:url("../images/ajax-loader.gif") no-repeat right center;
	background-position: 50% 15%;
}

.loadinggifbox {
	background:url("../images/ajax-loader.gif") no-repeat right center;
	background-position: 90%;
}


#timeLine {
	height: 1px;
	width: 100%;
	background: #FF5140;
	position:absolute;
	z-index:3;
	display: none;
}

#timeLineText {
	height: 22px;
	line-height: 20px;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 3px;
	text-align: center;
	background: #fff;
	border: 1px solid #FF5140;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position: absolute;
	top: -11px;
	right: 0;
}

#menu {
	z-index: 4;
	background: white;
}

#search-tools {
	padding-right: 10px;
}

.navbar-default {
	margin-bottom: 0;
	background: #fff;
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #DAE7F7;
	border-radius: 0;
}

.container-fluid {
	position: relative;
}

header h1 {
	margin: 0;
	height: 62px;
	padding: 11px;
}

.navbar-toggle {
	margin-top:14px;
}

#bs-example-navbar-collapse-1 form{
	margin-top: 3px;
}

#navigateForward, #navigateBack {
	outline: none;
	background-image: linear-gradient(to bottom, rgb(94, 153, 255) 0px, rgb(52, 122, 236) 100%);
	color: #fff;
	border: 0px none;
}

#navigateForward:hover, #navigateBack:hover {
	background: #2e6dd4;
}

#navigateForward:focus, #navigateBack:focus {
	background: #2e6dd4;
}

#personal-calendar-search {
	display: none;
	padding: 0 10px;
}

.personal-add-btn {
	padding: 5px 15px;
}

#personal-results td {
	padding: 10px;
}

#personal-search-error {
	display: none;
}

@media (max-width: 1200px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.weekdaySubjects.active {
		background: rgba(73, 140, 255, 0.05);
	}
}

@media (max-width: 767px) {
	.weekdaySubjects, .weekday, #week-counter{
		display: none;
	}
	.current-weekday {
		display: block;
	}
	#times * div{
		padding-left: 0;
	}
	/* Poistaa zoomaus efektin iPhonella */
	input[type="text"], input[type="number"], textarea {
		font-size: 16px;
	}
	#dates div div .panel-heading {
		border-radius: 0;
	}
	#times .time:last-child, #all-subjects {
		border-radius: 0;
	}
	header h1{
		font-size: 1.5em;
		padding: 18px;
	}
	#search-tools {
		padding-right: 5px;
	}
	#bs-example-navbar-collapse-1 form{
		margin:0;
		padding-top:0;
		border-bottom: none;
		border-top: none;
	}
	.col-xs-10 {
		width: 83.3333%;
	}
	#navigation {
		top: 1px;
		right: 60px;
	}
	#navigateBack {
		border-right: none
	}
	.col-xs-4 {
		width: 33.3333%;
	}
	.cal-data .small-cal-event {
		font-size: 14px;
	}
	header h1{
		padding-left: 11px;
	}
}